body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

/* Дефолтные стили */
p, h2 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}




/* Стили для хедера */
.header {
  display: flex;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  font-size: 0;
}

.header__logo img {
  max-width: 82px;
  height: auto;
  display: inline-block;
}

.header__title {
  margin-left: 20px;
}

.header__title p {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;

}


/* Стили для Основного блока стажеров */

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.probation-date p {
  font-weight: 500;
}


/* Лист стажеров */

.trainess-list {

}

.trainees-list__number {
  margin-right: 5px;
}

.trainees-list__item {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.trainees-list__item:last-child {
  margin-bottom: 0;
}

.trainees-list__item a {
 color: #000
}

.trainees-list__item a:hover {
 color: blue;
}

.trainees-list__fio {

}

.trainees-list__review {
  margin-left: 15px;
}


.trainees-list_icon-set {
  margin-left: 15px;
}

/* Сет Иконок */

.icon-set {
  display: flex;
}

.icon-set__item {
  margin-right: 10px;
}

.icon-set__item:last-child {
  margin-right: 0;
}

.icon-set__link {
  display: block;
  width: 32px;
  height: 32px;
}

.icon-set__icon {
  width: 32px;
  height: 32px;
  display: inline-block;

  background-position: center;
  background-repeat: no-repeat;
}

.icon-set__github {
  background-image: url('../img/iconset/github/GitHub32.png');
}

.icon-set__review {
  background-image: url('../img/iconset/review/review.svg');
}